.signInAuthor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-131xl) var(--padding-231xl);
    box-sizing: border-box;
    background-image: url(/login-page@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
@media screen and (max-width: 960px) {
    .signInAuthor {
        height: 640px;
        padding: var(--padding-131xl) var(--padding-81xl);
        box-sizing: border-box;
    }
}
@media screen and (max-width: 420px) {
    .signInAuthor {
        height: 840px;
        padding: var(--padding-131xl) var(--padding-31xl);
        box-sizing: border-box;
    }
}
