.image5Icon {
  position: relative;
  width: 129px;
  height: 129px;
  object-fit: cover;
}
.div,
.procterGamble {
  align-self: stretch;
  position: relative;
}
.procterGamble {
  letter-spacing: -1px;
  line-height: 45px;
}
.div {
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--paragraph-bold-14);
  color: var(--color-dimgray-100);
}
.image5Parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--h4-heading-size);
  color: var(--color-darkslategray-300);
  font-family: var(--h4-heading);
}
@media screen and (max-width: 960px) {
  .procterGamble {
    font-size: var(--font-size-4xl);
  }
  .div {
    font-size: var(--font-size-2xs);
  }
}
@media screen and (max-width: 420px) {
  .image5Parent {
    flex: unset;
    align-self: stretch;
  }
}
