.h3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-300);
  text-align: left;
}
.span {
  color: var(--color-dimgray-100);
}
.span1 {
  color: var(--color-black);
}
.span2 {
  color: var(--color-cornflowerblue);
}
.b {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  white-space: pre-wrap;
  text-align: left;
}
.frameChild,
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parent {
  gap: var(--gap-xl);
}
.frameChild {
  border: 1px solid var(--color-dimgray-100);
  outline: 0;
  background-color: var(--color-whitesmoke-300);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  height: 39px;
  padding: var(--padding-2xs) var(--padding-3xs);
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
}
.b1 {
  position: relative;
  font-size: var(--paragraph-bold-14-size);
  line-height: 150%;
  font-family: var(--paragraph-bold-14);
  color: var(--color-white);
  text-align: center;
}
.b2,
.contactUs {
  align-self: stretch;
}
.contactUs {
  cursor: pointer;
  border: 1px solid var(--color-mediumslateblue);
  padding: var(--padding-base) var(--padding-29xl);
  background-color: var(--color-mediumslateblue);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.b2 {
  position: relative;
  font-size: var(--paragraph-bold-14-size);
  font-family: var(--font-inter);
  text-align: left;
}
.b2,
.span4 {
  color: var(--color-darkslategray-200);
}
.b3 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-bold-14-size);
  font-family: var(--font-inter);
  text-align: left;
}
.contactUsParent,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameParent {
  flex: 1;
  border-radius: var(--br-base);
  padding: var(--padding-11xl) var(--padding-51xl);
  gap: var(--gap-21xl);
}
@media screen and (max-width: 420px) {
  .frameParent {
    flex: unset;
    align-self: stretch;
  }
}
