.frameChild {
    position: relative;
    border-right: 2px solid var(--color-whitesmoke-200);
    box-sizing: border-box;
    width: 2px;
    height: 985px;
}
.profilemanagerInner {
    flex-shrink: 0;
    padding: var(--padding-91xl) 0 0;
}
.profilemanager,
.profilemanagerChild,
.profilemanagerInner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.profilemanagerChild {
    flex: 1;
    flex-shrink: 0;
    padding: var(--padding-141xl) 0 0 var(--padding-31xl);
}
.profilemanager {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    padding: 0 var(--padding-131xl) var(--padding-381xl) var(--padding-31xl);
    box-sizing: border-box;
}
