.frameChild {
    position: relative;
    border-right: 2px solid var(--color-whitesmoke-200);
    box-sizing: border-box;
    width: 2px;
    height: 985px;
}
.profileadvertiserInner {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-91xl) 0 0;
}
.b,
.b1 {
    position: relative;
}
.b {
    align-self: stretch;
}
.b1 {
    line-height: 150%;
}
.b1,
.container,
.div {
    align-self: stretch;
}
.div {
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 200px;
    flex-shrink: 0;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.mazkevych2003gmailcom {
    align-self: stretch;
    flex: 1;
    position: relative;
    line-height: 150%;
}
.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xs);
}
.b7,
.group {
    font-family: var(--paragraph-bold-14);
}
.group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
}
.b7 {
    position: relative;
    font-size: var(--paragraph-bold-14-size);
    line-height: 150%;
    color: var(--color-white);
    text-align: center;
}
.accept {
    cursor: pointer;
    border: 1px solid var(--color-mediumslateblue);
    padding: var(--padding-base) var(--padding-29xl);
    background-color: var(--color-mediumslateblue);
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    width: 233px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.acceptWrapper,
.parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.acceptWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-xl) 0 0;
}
.parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xl);
}
.containerIcon {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-base);
    max-height: 100%;
    width: 345px;
    object-fit: cover;
}
.frameGroup,
.frameWrapper {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
}
.frameGroup {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-31xl) 0 0;
    gap: var(--gap-46xl);
}
.frameWrapper {
    flex-direction: column;
    align-items: flex-start;
}
.frameItem {
    border-top: 2px solid var(--color-whitesmoke-200);
    box-sizing: border-box;
    width: 937px;
    height: 2px;
}
.b8,
.frameItem {
    position: relative;
}
.b9,
.wrapper {
    align-self: stretch;
}
.b9 {
    flex: 1;
    position: relative;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameWrapper1,
.parent5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frameWrapper1 {
    align-self: stretch;
    align-items: flex-end;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 0;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-dimgray-200);
}
.parent5 {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    align-items: center;
    gap: var(--gap-21xl);
}
.b10,
.b12 {
    position: relative;
}
.b10 {
    font-size: var(--font-size-17xl);
    color: var(--color-gray-200);
}
.b12 {
    align-self: stretch;
    display: inline-block;
    text-align: right;
    width: 150px;
    flex-shrink: 0;
}
.frame,
.parent7 {
    align-items: flex-start;
    justify-content: flex-start;
}
.parent7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    gap: var(--gap-6xl);
}
.frame {
    padding: 0 0 0 var(--padding-xl);
    font-size: var(--font-size-base);
    color: var(--color-dimgray-100);
    font-family: var(--paragraph-bold-14);
}
.frame,
.frameParent2,
.frameWrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
.frameParent2 {
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
}
.frameWrapper3 {
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 0;
}
.b13 {
    flex: 1;
    position: relative;
}
.parent6 {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-21xl);
    font-size: var(--font-size-11xl);
    color: var(--color-black);
}
.p {
    margin: 0;
}
.div11,
.div12 {
    position: relative;
    line-height: 24px;
    mix-blend-mode: normal;
}
.div11 {
    align-self: stretch;
    display: inline-block;
    height: 47px;
    flex-shrink: 0;
}
.div12 {
    font-size: var(--font-size-11xl);
    color: var(--color-dimgray-200);
    text-align: left;
}
.textField {
    align-self: stretch;
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--color-whitesmoke-100);
    box-sizing: border-box;
    width: 256.7px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-5xs);
}
.div13 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    mix-blend-mode: normal;
}
.frameParent1,
.textFieldParent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textFieldParent {
    width: 930px;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
    gap: var(--gap-21xl);
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-dimgray-100);
}
.frameParent1 {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-81xl);
    color: var(--color-gray-200);
}
.frameParent,
.profileadvertiser,
.profileadvertiserChild {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameParent {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: var(--gap-31xl);
}
.profileadvertiser,
.profileadvertiserChild {
    flex-direction: row;
}
.profileadvertiserChild {
    flex: 1;
    flex-shrink: 0;
    padding: var(--padding-141xl) 0 0 var(--padding-31xl);
}
.profileadvertiser {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    padding: 0 var(--padding-131xl) var(--padding-381xl) var(--padding-31xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
    .b1,
    .div,
    .mazkevych2003gmailcom {
        font-size: var(--font-size-base);
    }
    .containerIcon {
        width: 456px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 961px) {
    .b1,
    .div,
    .mazkevych2003gmailcom {
        font-size: var(--font-size-base);
    }
    .containerIcon {
        display: none;
        width: 456px;
        height: 456px;
    }
}
@media screen and (max-width: 960px) {
    .b1,
    .div,
    .mazkevych2003gmailcom {
        font-size: var(--font-size-xs);
    }
    .containerIcon {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .b1,
    .div,
    .mazkevych2003gmailcom {
        font-size: var(--font-size-xs);
    }
    .containerIcon {
        display: none;
    }
}
